<header>
  <nav>
    <span>Inicio</span>
    <span>Proyectos</span>
    <span>Tecnologías</span>
    <span>Experiencia</span>
    <span>Sobre mí</span>
  </nav>
</header>
<section style="max-width: 1024px; margin: 4rem auto 0 auto;">
  <article>
    <div style="display: flex; ">
      <img src="../assets/images/foto-isma.jpg" alt="Foto perfil de Ismael Rey" style="max-width: 250px; border-radius: 50%;">
      <div style="margin-left: 2rem; color: rgb(50, 50, 50);">
        <h3 style="font-size: 3rem;">Ismael Rey Plata</h3>
        <p style="font-size: 2rem; color:#e9b20e; margin-top: 0.5rem;">Desarrollador de aplicaciones multiplataforma.</p>
        <p style="margin-top: 1rem; font-size: 1.5rem;">Especializado en el desarrollo de aplicaciones web
          en Angular y Node.js.</p>
        <div style="margin-top: 1.5rem; display: flex; gap: 2rem;">
          <button style="border: 1px solid gainsboro; background-color: #F1F9FA; padding: 6px 16px; border-radius: 1rem; display: flex; align-items: center; gap: 0.5rem;font-size: 1.2rem;">
            <img src="../assets/images/curriculum-vitae.png" alt="" style="height: 1.5rem;">
            Currículum
          </button>
          <button style="border: 1px solid gainsboro; background-color: #F1F9FA; padding: 6px 16px; border-radius: 1rem; display: flex; align-items: center; gap: 0.5rem;font-size: 1.2rem;">
            <img src="../assets/images/linkedin.png" alt="" style="height: 1.5rem;">
            Linkedin
          </button>
        </div>
      </div>
    </div>
  </article>
</section>