<header>
  <nav>
    <span><a href="#home">Inicio</a></span>
    <span>Proyectos</span>
    <span>Tecnologías</span>
    <span>Experiencia</span>
    <span>Sobre mí</span>
  </nav>
</header>
<section>
  <article>
    <div class="content-article-home" id="home">
      <img src="../assets/images/foto-isma.jpg" alt="Foto perfil de Ismael Rey" class="img-perfil">
      <div class="content-article-right">
        <h3>Ismael Rey Plata</h3>
        <p class="desa">Desarrollador de aplicaciones multiplataforma.</p>
        <p class="especia">Especializado en el desarrollo de aplicaciones web
          en Angular y Node.js.</p>
        <div class="content-button">
          <button>
            <img src="../assets/images/curriculum-vitae.png" alt="Curriculum de Ismael">
            Currículum
          </button>
          <button>
            <img src="../assets/images/linkedin.png" alt="Linkedin de Ismael">
            <a href="https://www.linkedin.com/in/ismael-rey-plata/" target="_blank">
            Linkedin
            </a>
          </button>
        </div>
      </div>
    </div>
  </article>

  <article class="projects" >
    <h2>
      <img src="../assets/images/programmer.png" alt="Icono de proyectos" >
      <span>Proyectos</span> 
    </h2>
    <div class="content-project">
      <div class="content-project-left">
        @defer (on viewport){
        <img [src]="imgNowAstronomy" alt="Imagen home de la app astronomy">
        } @placeholder {
          <strong>Loading...</strong>
        }
        <img (click)="changeImage()" src="../assets/images/arrow-right.png" alt="Flecha derecha" style="position: absolute; width: 32px; right: 1rem; top:0; bottom: 0; margin: auto; opacity: 0.4;">
      </div>
      <div class="content-project-right">
        <h3>App Astronomy - Explore the Wonders of the Universe</h3>
        <div class="content-technologies">
          <span>HTML5</span>
          <span>SCSS</span>
          <span>Angular 17</span>
          <span>API Nasa</span>
        </div>
        <p>Mi aplicación ofrece una ventana al universo, permitiendo a los usuarios explorar datos y recursos astronómicos proporcionados por la API de la NASA de manera interactiva y educativa.</p>
        <p>
          He utilizado la librería <strong>RxJS</strong> para el manejo de observables, el modulo  <strong>HttpClientModule</strong> para
          realizar las peticiones a la API de la Nasa mediante filtrado por fechas separado en un 
          <strong>Servicio</strong> y la carga diferida mediante la directiva 
          <strong>&#64;defer</strong>.

        </p>
        <div class="content-button">
          <button>Ver Aplicación</button>
        </div>
      </div>
    </div>
  </article>
</section>


<!-- <img [src]="imgNowAstronomy" alt="" style="width: 100px;">
<button (click)="changeImage()">Next</button> -->