header{
    width: 100%; 
    //background-color: aquamarine;
    padding: 0.5rem 0;
}

nav{
    max-width: 500px; 
    background-color: #F1F9FA; 
    margin: 0 auto;
    border-radius: 1rem; 
    padding: 0.5rem 1rem; 
    display: flex; 
    justify-content: space-around ;
    font-size: 14px;
    letter-spacing: 0.5px;
    position: sticky;
    box-shadow: 2px 2px 12px  rgba(0,0,0,0.1);
    font-weight: 500;
    span:hover{
        color:#e9b20e;
        cursor: pointer;
    }
}

@media (max-width: 768px){
    nav{
        font-size: 13px;
        padding: 0.5rem; 
    }
}