<header>
  <nav>
    <span><a href="#home">Inicio</a></span>
    <span>Proyectos</span>
    <span>Tecnologías</span>
    <span>Experiencia</span>
    <span>Sobre mí</span>
  </nav>
</header>
<section>
  <article>
    <div class="content-article-home" id="home">
      <img src="../assets/images/foto-isma.jpg" alt="Foto perfil de Ismael Rey" class="img-perfil">
      <div class="content-article-right">
        <h3>Ismael Rey Plata</h3>
        <p class="desa">Desarrollador de aplicaciones multiplataforma.</p>
        <p class="especia">Especializado en el desarrollo de aplicaciones web
          en Angular y Node.js.</p>
        <div class="content-button">
          <button>
            <img src="../assets/images/curriculum-vitae.png" alt="Curriculum de Ismael">
            Currículum
          </button>
          <button>
            <img src="../assets/images/linkedin.png" alt="Linkedin de Ismael">
            <a href="https://www.linkedin.com/in/ismael-rey-plata/" target="_blank">
            Linkedin
            </a>
          </button>
        </div>
      </div>
    </div>
  </article>

  <article style="margin-top: 9rem;">
    <h2 style="font-size: 2.5rem; display: flex; align-items: center; gap: 1rem">
      <img src="../assets/images/programmer.png" alt="" style="height: 34px;">
      <span>Protectos</span> 
    </h2>
    <div style="margin-top: 3rem; width: 100%; display: flex;">
      <div style="width: 50%;">
        <img src="../assets/images/app-astronomy-home.PNG" alt="Imagen home de la app astronomy" style="width: 100%; border-radius: 1rem;">
      </div>
      <div style="width: 50%; padding: 0 1rem; display: flex; flex-direction: column; justify-content: space-between;">
        <h3 style="font-size: 1.5rem;">App Astronomy - Explore the Wonders of the Universe</h3>
        <div style=" display: flex; flex-wrap: wrap; gap: 0.5rem; color: rgb(226, 226, 226);">
          <span style="padding: 4px 1rem; background-color: #003159; border-radius: 1rem;">HTML5</span>
          <span style="padding: 4px 1rem; background-color: #003159; border-radius: 1rem;">SCSS</span>
          <span style="padding: 4px 1rem; background-color: #003159; border-radius: 1rem;">Angular 17</span>
          <span style="padding: 4px 1rem; background-color: #003159; border-radius: 1rem;">API Nasa</span>
        </div>
        <p style="letter-spacing: 0.5px; text-wrap: pretty; font-size: 1.2rem;">Mi aplicación ofrece una ventana al universo, permitiendo a los usuarios explorar datos y recursos astronómicos proporcionados por la API de la NASA de manera interactiva y educativa.</p>
        <p style="letter-spacing: 0.5px; text-wrap: pretty; font-size: 1.2rem;">
          
        </p>
        <div style="margin-bottom: 6px;">
          <button style="padding: 0.4rem 1rem; border: 1px solid gainsboro; background-color: #F1F9FA; font-size: 1.2rem; border-radius: 1rem;">Ver Aplicación</button>
        </div>
      </div>
    </div>
  </article>
</section>